<%= render "layouts/header"  %>

<div class="container-fluid white-container nopad">
      <div class="row">
        <div class="col-sm-3 col-md-1 sidebar">
            <%= render "layouts/sidenav"  %>       
        </div>
        <div class="col-sm-9 col-md-11">        
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contentheader"> 
            <div class="pull-left"> 
                <% if @status == "createNom" %>
                    <h3 class="pageheading">Create Nomination</h3>
                 <% elsif @status == "modifyNom" %>
                    <h3 class="pageheading">Modify Nomination</h3>
                 <% else %>
                    <h3 class="pageheading">Nomination Details</h3>
                 <% end %>                
            </div>
            <div class="pull-right">
                <% if @status == "createNom" or @status == "modifyNom" %>
                    <%= link_to "<button class='btn btn-primary btn-small'>Back</button>".html_safe, nominations_path %>
                 <% else %>
                     <%= link_to '/nominations/notification' do %>
                        <span class='btn btn-primary btn-small'>Back</span>
                    <% end %>
                 <% end %> 
            </div>              
        </div> 
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">  
                 <% if @status == "viewNom" or @status == "modifyNom" %>
                    <span class = "btn btn-success"><%= @nomination_type %></span> <span class = "btn btn-primary"><%= @statusNomination %></span>    
                <% end %>   
            </div>
    
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadmar">                   
       <%= bootstrap_form_for @nomination, url: {action: "create"} do |f| %>
            <% if @status == "modifyNom" or @status == "viewNom" %>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 nopadmar">   
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">                   
                    <%= f.text_field :capacity, value: @nominationid, label:"Ref#", disabled: true %>
                </div>
            </div>
            <% end %>
     
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"> 
                 <% if @status == "viewNom" %>
                    <%= f.text_field :nominationstartdate, value: @startdate_and_time, label:"Nomination Period Start Date", disabled: true %>
                <% elsif @status == "modifyNom" %>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 nopadmar"> 
                    <%= f.date_field :nominationstartdate, :value => Time.now.strftime("%Y-%m-%d"), label:"Nomination Period Start Date and Time", required: true %>
                </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 timetopspace"> 
                   <%= f.select :nominationstarttime, [["00", 1], ["01", 2], ["02", 2], ["03", 3], ["04", 4], ["05", 5], ["06", 6], ["07", 7], ["08", 8], ["09", 9], ["10", 10], ["11", 11], ["12", 12], ["13", 13], ["14", 14], ["15", 15], ["16", 16], ["17", 17], ["18", 18], ["19", 19], ["20", 20], ["21", 21], ["22", 22], ["23", 23]], {hide_label: true}  %>
                </div>                  
                
                    <%= f.hidden_field :hiddenNominationId, value: @nominationid %>
                <% else %>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 nopadmar"> 
                    <%= f.date_field :nominationstartdate, :value => Time.now.strftime("%Y-%m-%d"), label:"Nomination Period Start Date and Time", required: true %>
                </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 timetopspace"> 
                   <%= f.select :nominationstarttime, [["00", 1], ["01", 2], ["02", 2], ["03", 3], ["04", 4], ["05", 5], ["06", 6], ["07", 7], ["08", 8], ["09", 9], ["10", 10], ["11", 11], ["12", 12], ["13", 13], ["14", 14], ["15", 15], ["16", 16], ["17", 17], ["18", 18], ["19", 19], ["20", 20], ["21", 21], ["22", 22], ["23", 23]], {hide_label: true}  %>
                </div> 
                <% end %>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">  
                <% if @status == "viewNom" %>
                     <%= f.text_field :nominationenddate,  value: @enddate_and_time,label: "Nomination Period End Date", disabled: true %>
                <% elsif @status == "modifyNom" %>
                     <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 nopadmar"> 
                    <%= f.date_field :nominationenddate, :value => Time.now.strftime("%Y-%m-%d"), label:"Nomination Period Start Date and Time", required: true %>
                </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 timetopspace"> 
                   <%= f.select :nominationendtime, [["00", 1], ["01", 2], ["02", 2], ["03", 3], ["04", 4], ["05", 5], ["06", 6], ["07", 7], ["08", 8], ["09", 9], ["10", 10], ["11", 11], ["12", 12], ["13", 13], ["14", 14], ["15", 15], ["16", 16], ["17", 17], ["18", 18], ["19", 19], ["20", 20], ["21", 21], ["22", 22], ["23", 23]], {hide_label: true}  %>
                </div> 
                <% else %>
                   <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 nopadmar"> 
                    <%= f.date_field :nominationenddate, :value => Time.now.strftime("%Y-%m-%d"), label:"Nomination Period Start Date and Time", required: true %>
                </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 timetopspace"> 
                   <%= f.select :nominationendtime, [["00", 1], ["01", 2], ["02", 2], ["03", 3], ["04", 4], ["05", 5], ["06", 6], ["07", 7], ["08", 8], ["09", 9], ["10", 10], ["11", 11], ["12", 12], ["13", 13], ["14", 14], ["15", 15], ["16", 16], ["17", 17], ["18", 18], ["19", 19], ["20", 20], ["21", 21], ["22", 22], ["23", 23]], {hide_label: true}  %>
                </div> 
                <% end %>                    
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">   
                <% if @status == "viewNom" %>
                    <%= f.text_field :injectionpoint, value: @injection_point , label: "Injection Point", disabled: true %>
                <% elsif @status == "modifyNom" %>
                    <%= f.text_field :injectionpoint, value: @injection_point, label: "Injection Point" %>
                <% else %>
                    <%= f.text_field :injectionpoint, label: "Injection Point", required: true %>
                <% end %>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">   
                <% if @status == "viewNom" %>
                    <%= f.text_field :injectionquantity, value: @injection_quantity ,label: "Injection Quantity (in mmbtu)", disabled: true %>
                <% elsif @status == "modifyNom" %>
                    <%= f.text_field :injectionquantity, value: @injection_quantity ,label: "Injection Quantity (in mmbtu)" %>
                <% else %>
                    <%= f.text_field :injectionquantity, label: "Injection Quantity (in mmbtu)", required: true %>
                <% end %>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">  
                <% if @status == "viewNom" %>
                    <%= f.text_field :offtakepoint, Value: @offtake_point, label: "Offtake Point", disabled: true %>
                 <% elsif @status == "modifyNom" %>
                    <%= f.text_field :offtakepoint, Value: @offtake_point, label: "Offtake Point" %>
                <% else %>
                    <%= f.text_field :offtakepoint, label: "Offtake Point", required: true %>
                <% end %>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">  
                <% if @status == "viewNom" %>
                    <%= f.text_field :offtakequantity, Value: @offtake_quantity,label: "Offtake Quantity (in mmbtu)", disabled: true %>
                 <% elsif @status == "modifyNom" %>
                    <%= f.text_field :offtakequantity, Value: @offtake_quantity,label: "Offtake Quantity (in mmbtu)" %>
                <% else %>
                    <%= f.text_field :offtakequantity, label: "Offtake Quantity (in mmbtu)", required: true %>
                <% end %>
            </div>
               <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">   
                <% if @status == "viewNom" %>
                    <%= f.text_field :capacity, Value: @capacityRef,label: "Capacity Right", disabled: true %>
                <% elsif @status == "modifyNom" %>
                <%= f.select :capacity, [["CR101", "CR101"], ["CR102", "CR102"],["CR103", "CR103"],["CR104", "CR104"]], { label: "Capacity Right" }, { class: "selectpicker" }  %>
                <% else %>                    
               <%= f.select :capacity, [["CR101", "CR101"], ["CR102", "CR102"],["CR103", "CR103"],["CR104", "CR104"]], { label: "Capacity Right" }, { class: "selectpicker" }  %>
                <% end %>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">           
                <% if @status == "modifyNom" %>
                    <%= f.submit "Renominate", class: "btn btn-primary btn-top-spacing align-center" %><br><br>
                    <%= f.hidden_field :hiddenStatus, value: "Modify" %>
                <% end %>
                <% if @status == "createNom" %>
                    <%= f.submit "Submit", class: "btn btn-primary btn-top-spacing align-center" %><br><br>
                    <%= f.hidden_field :hiddenStatus, value: "Create" %>
                <% end %>               
            </div>            
        <% end %>
    </div>  
        </div>
      </div>
</div>
<footer>
  <p></p>
  <p></p>
</footer>