html, body {
    height: 100% !important;
    margin: 0;
    background: -webkit-linear-gradient(top, rgb(187, 216, 212) 0%, rgb(189, 203, 189) 34%, rgb(54, 91, 101) 67%, rgb(9, 21, 31) 95%, rgb(5, 9, 14) 100%);
background: -o-linear-gradient(top, rgb(187, 216, 212) 0%, rgb(189, 203, 189) 34%, rgb(54, 91, 101) 67%, rgb(9, 21, 31) 95%, rgb(5, 9, 14) 100%);
background: -ms-linear-gradient(top, rgb(187, 216, 212) 0%, rgb(189, 203, 189) 34%, rgb(54, 91, 101) 67%, rgb(9, 21, 31) 95%, rgb(5, 9, 14) 100%);
background: -moz-linear-gradient(top, rgb(187, 216, 212) 0%, rgb(189, 203, 189) 34%, rgb(54, 91, 101) 67%, rgb(9, 21, 31) 95%, rgb(5, 9, 14) 100%);
background: linear-gradient(to bottom, rgb(187, 216, 212) 0%, rgb(189, 203, 189) 34%, rgb(54, 91, 101) 67%, rgb(9, 21, 31) 95%, rgb(5, 9, 14) 100%); 
    background-attachment: fixed;   
}
.nopadmar,.row{
    padding:0 !important;
    margin:0 !important;
}
.nopad{
    padding:0px;
}

.loginTopSpace{
    margin-top:120px;
}

.loginwrap{
    background-image:asset-data-url("login-bg.png");
    background-repeat:no-repeat;
    background-position: top center;
    padding:20px 30px 55px 30px;
    text-align:center;
    margin-top:20px;
}
.loginwrap h1{
    color:#024657;
    padding-bottom:20px;
    font-size:36px;
}
.logininput{
    width: 65%;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 10px 10px 10px 60px;
    background-image: asset-data-url("username-icon.png");
    background-repeat: no-repeat;
    background-color: #FFF;
    background-position: top 9px left 20px;
    font-size: 13px;
}
.pwdinput{
    width: 65%;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 10px 10px 10px 60px;
    background-image: asset-data-url("password-icon.png");
    background-repeat: no-repeat;
    background-color: #FFF;
    background-position: top 9px left 20px;
    font-size: 13px;
}
.login-btn{
    width: 65%;
    padding: 8px;
    margin-top: 10px;
    background: #12adbb;
    font-size: 18px;
    border:none;
    border-radius:3px;
    color:#fff;
}
.login-btn:hover{
    background:#08c2f0;
}
.white-container{
	background: #fff; margin-left: 50px; margin-right: 50px;
}
.navbar-inverse{
	background-color: #152636;
}
.text-color{
	color: #152636;
}
h2{
	font-size: 20px;
}
nav.top{
	margin: 47px 50px 20px 50px;
	padding: 6px;
	border-radius: 8px;
	max-height: 61px;
}
footer {margin: 50px;}
h3{
	color: #fff;
	    margin: 14px;
}
.secondary-color{
	color:#0bc1c1;
}
.navbar-inverse .navbar-nav>li>a{
	font-size: 26px;
	color: #0bc1c1;
}
.sidebar{
	padding: 0;
	background: #152636;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
	color: #097f80;
}
.navbar-header .logo {
	margin: 14px;
}
.navbar .dropdown-toggle::after{
	background-image: asset-data-url("arrow_down.png");
    content: "";
    border: 0;
    background-repeat: no-repeat;
    width: 12px;
    height: 6px;
}
.navbar .profile{
	margin-right: 5px;
}
.navbar .icons{
	margin-right: 18px;
    margin-top: 10px;
    cursor: pointer;
}
.form-wraper {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 16px;
}

.my-2 {
    margin-top: 1.5rem!important;
}
.nav>li>a{
	text-align: left;
	color: #fff;
}
.nav>li>a:focus, .nav>li>a:hover {
    border-radius: 0;
}
#navbar .nav>li>a .secondary-color{
	padding-right: 12px;
}
#navbar.navbar-collapse{
	padding-left: 0;
	padding-right: 0;
}
.dropdown, .dropup {
    position: relative;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.nav .nav-item.dropdown{
	padding-right: 50px;
}
.nav .nav-item.dropdown .nav-link {
	font-size: 16px;
	color: #fff;
	padding: 5px;
}

.mr-auto {
    margin-right: auto!important;
}
.btn-primary{
	 color: #fff;
    background-color: #07939c;
    border-color: #07939c;
}
.btn.active, .btn:active{
	box-shadow:none;
}
.btn-primary{
	-webkit-transition: background .3s;
    transition: background .3s;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0c486b;
    border-color: #0c486b;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #152636;
}
.form-inline .btn .glyphicon {
	font-size: 9px;
    top: -1px;
}

.curve-background{
	border-radius: 8px;
	background-color: #d7d7d7;
}
.white-container h2{margin-top: 26px;
    margin-bottom: 0px;
}

.form-group .controls {
	padding-top: 20px;
	padding-left: 0px;
	text-align: right;
    padding-right: 0;
    padding-bottom: 20px;
}
.form-group .controls.center{
	text-align: center;
}
.form-group .form-control{
	background-color: #fff;
}
.form-control[disabled], fieldset[disabled] .form-control{
	background-color: #acacac;
}
.form-group .controls .btn-primary {
    color: #fff;
    background-color: #0072bc;
    border-color: #0072bc;
}
.form-group .controls.outline .btn-primary{
	background:none;
	color: #073259;
	border-color: #00a651;
}
.form-group .controls.outline .btn-success{
	background: none;
	color: #073259;
	border-color: #f26c4f;
}
.form-group .controls.outline .btn {
	margin-left: 10px;
	margin-right: 10px;
}
.form-inline .btn.back .glyphicon {
    font-size: 15px;
    top: 2px;
}
.form-control{
	height: 39px;
}

.pageheading{
    margin-bottom:20px;
    margin-top:0px;
    color:#152636;
}
.gridTable{
    margin-top:50px;
    font-size:13px;
}
.gridheader{
    background: #7c7d7e;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}
.contentheader{
    padding-top: 30px;
    margin-bottom: 40px;
    border-bottom: 1px solid #ddd;
}
.btn-top-spacing{
    margin-top:20px;
}

.img-container{
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
}
.marleft{
    margin-left:20px;
}
.search{
	background-color: #d7d7d7;
	background-image: asset-data-url("search.png");
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-position-y: 11px;
}
.timetopspace{
    padding-top:24px;
}

.padl0{
    padding-left:0px;
}
.firmcapgraph-bottomspace{
    padding-bottom:36px;
}